@import url(https://fonts.googleapis.com/css?family=Poppins);
@import url(https://fonts.cdnfonts.com/css/impact);
body{
    
    font-family:Poppins, sans-serif;
    margin: 0px;
    
}
.background{
    background: linear-gradient(#1a0e0e, #6E1111, #6e0303);
    background-size: 60% 600%;
    animation: gradient 6s ease-in-out infinite;
    animation-direction: alternate;
  
}
header {
    position: sticky;
}



.nostylelist {
    list-style: none;
}
 

.navbar {
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    margin: 0px;
    
    
    background-color: #1c1c1c;/*#1c1c1c*/ /*#24502c*/
    
    border-style:solid;
    border-width: 7px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    
    border-color:black;
    border-radius:0em;
    flex-wrap: wrap;
    
}
@keyframes gradient {   
    0% {
        background-position: top;
    }
    50% {
        background-position: right;
    }
    
    100% {
        background-position: top;
    }
}

.titlebar{
    display: flex;
    font-size: 1.8em;
    align-items: center;
    
}
#logo{
    display: inline-block;
    margin: 10px 15px;
    border-radius: 3em;
    filter: drop-shadow(0 0 1.5rem slategray);
    
}
.mainimg
{
    display: inline-block;
    margin: 5px 10px;
    border-radius: 1.5em;
    filter: drop-shadow(0 0 0.5rem black);
    width: 20em;
    height:auto;
}

.titlebar li a{
    color: #d57406;/*#e0801b*/ /*rgb(225, 22, 22)*/ /*#46b001*/ 
    text-shadow: -1.50px -1.50px 0 #000, 1.50px -1.50px 0 #000, -1.50px 1.50px 0 #000, 1.50px 1.50px 0 #000;
    text-decoration:none;
    font-family: Impact, sans-serif;

}
.maintext{
    color: azure;
    font-family: Poppins, sans-serif;
    font-size: 1.35em;
    padding: 5em;
    padding-top: 5px;
    padding-bottom: 5px;
    
}
.maintext a{
    color:azure;
    text-decoration:underline;
    
}
.menu li a{
    color: #d57406;/*#e0801b*/ /*rgb(225, 22, 22)*/ /*#46b001*/
    text-shadow: -1.25px -1.25px 0 #000, 1.25px -1.25px 0 #000, -1.25px 1.25px 0 #000, 1.25px 1.25px 0 #000;
    text-decoration:none;

}
.menu {
    display: flex;
    gap: 1.25em;
    font-size: 1.9rem;
    font-family: Impact, sans-serif;
    flex-wrap: wrap;
    align-content: flex-end;
    list-style:none;
}
@media screen and (max-width: 768px) {
    .menu li a {
        font-size: 2.25rem;
    }
    form {
        block-size: max-content;
        padding-left:20%
    }
}

.menu li:hover {
    background-color: #9d0128;
    border-radius:7px;
    transition: 0.3s ease;
    filter: 
}
.menu li {
    padding: 10px;
}
.sporttitle {
    font-size: 2.5em;
    font-family: Poppins, sans-serif;
    font-weight: bolder;
    color: lemonchiffon;/*#e0801b*/ /*rgb(225, 22, 22)*/ /*#46b001*/ /*#ab8815*/

    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}
.subhead {
    font-family: Poppins, sans-serif;
    font-weight: bolder;
    color: lemonchiffon;/*#e0801b*/ /*rgb(225, 22, 22)*/ /*#46b001*/ /*#ab8815*/

    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

footer {
    display: flex;
    background: #9b0d0d;
    padding-left: 1em;
    padding-right: 1em;
    color: white;
    width: fit-content;
    border: 5px solid transparent;
    border-radius: 0.5em;
    margin-bottom: 3%;
}
.feeds ul{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
}
#bg-image
{
    background-image: url("/image/dark-background.jpg");
}
.floatimg{
    display: inline-block;
    margin: 5px 10px;
    border-radius: 1.5em;
    filter: drop-shadow(0 0 0.5rem black);
    width: 20em;
    height:auto;
    float:right;
}


table {
    text-align: left;
    position: relative;
    border-collapse: collapse;
    background-color: #f6f6f6;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 1%;
    margin-top:3%;
    font-size: 1.1em;
    
}
caption {
    font-size: 1.5em;
}
td, th {
    border: 1px solid #999;
    padding: 20px;
}
td{
    text-wrap: normal;
}
th {
    background: brown;
    border: 1px solid #000000;
    color: white;
    border-radius: 0;
    position: sticky;
    top: 0;
    padding: 10px;
}
.primary{
    background-color: #000000
}


h3{
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    color: white;
}
form{
    color: white;
    font-size: 1.1em;
    padding-left: 25%;
    padding-right: 25%;
}
label{
    float:left;
    padding-right:10px;
    text-align:right;
    font-size:1.2em;
}
input{
    margin-left: 1em;
    margin-bottom: 0.5em;
    
    width: 30em;
    height:2em;
}
#button, #reset {
    margin-top: 0.5em;
    width: 8em;
    background-color: orange;
    border: 2px solid black;
}
#button {
    margin-left: 138px;
    height: 5%;
    width: 7em;
}
#reset {
    margin-left: 82px;
    height: 5%;
    width: 7em;
}
input[type="radio"]{
    width: 5%;
    padding-top:1em;
    padding-bottom: 1em;
}
.required{
    font-weight: bold;
    color: red;
}
textarea{
    width: 35em;
    height: 20%;
}





